#container
 { padding: 20px; 
max-width: 800px; 
margin: 30px auto; 
border: 3px solid #73AD21; 
} 
#text 
{ 
font-family:times new romand; 
font-size:20; 
text-align: justify; 
color:white; 
}